[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-fussball-de
Exec=harbour-fussball-de
Name=Fussball.de Widget
Name[de]=Fussball.de Widget

[X-Sailjail]
OrganizationName=de.andreas-wuest-it-consulting
ApplicationName=harbour-fussball-de
Permissions=Internet

